{% extends 'templates/app.twig' %}

{% block content %}
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias sapiente quasi dolore nesciunt non officiis necessitatibus hic reiciendis dicta explicabo maxime commodi incidunt, laboriosam, aperiam voluptas labore ad, earum adipisci?</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit voluptatibus natus repudiandae officia ab, fugit amet. Dicta beatae commodi quaerat totam a qui nemo. Esse magnam hic incidunt quasi suscipit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, omnis exercitationem animi sed minima fuga inventore voluptatum! Est eum quasi nam corporis animi perspiciatis, alias ullam illum facilis ratione et.</p>
{% endblock %}